body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: #f9f9f9;
  }
  
  .nav-link {
    color: #000;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  .App main {
    padding: 20px;
  }