
/* Youtube */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #f9f9f9;
}

.nav-link {
  color: #000;
  font-size: 18px;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.App main {
  padding: 20px;
}

/* CSS cho Header */


/* Navbar */


/* CSS cho VideoGrid */

/* .main-content {
  position: relative;
  overflow-y: auto;
  height: 100vh;
} */



/* CSS cho VideoThumbnail */
/* .main-content {
  margin-top: 20px;
} */


/* CSS cho NavigationButton */
.navigation-button {
  background-color: #282828;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation-button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navigation-button a:hover {
  text-decoration: underline;
}

.scrollable-sidebar,
.sidebar {
  max-height: 88vh; /* Đặt chiều cao tối đa cho thanh cuộn là 80% chiều cao của trang */
  overflow-y: auto; /* Cho phép thanh cuộn dọc */
}
.video-grid-container {
  max-height: 75vh; /* Đặt chiều cao tối đa cho thanh cuộn là 80% chiều cao của trang */
  overflow-y: auto; /* Cho phép thanh cuộn dọc */
}
.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: none; /* Loại bỏ đường viền */
}

.list-group-item:hover {
  background-color: #ecf2f4; /* Màu nền khi hover */
}

.home {
  width: 20px; /* Điều chỉnh chiều rộng theo nhu cầu */
  height: auto; /* Duy trì tỷ lệ khung hình */
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

.selected {
  background-color: #ecf2f4; /* Thay đổi màu nền khi được chọn */
}

.selected-text {
  font-weight: bold; /* Làm đậm chữ khi được chọn */
  color: black; /* Thay đổi màu chữ sang màu đen khi được chọn */
}
.text {
  margin-left: 20px; /* Khoảng cách giữa icon và chữ */
}
.text p {
  color: #6d6d6d;
}
.text-info-view-time {
  display: inline;
}
.bottom p {
  color: #d1cfcf;
}
a {
  text-decoration: none;
}
.text-info-view-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-info-view-time p {
  margin-left: -30px;
  color: #5d5c5c;
}
.text-info-author p{
  font-size: 14px;
  color: #838383
}
.loadmore{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #838383;
  width: 100%;
}
.video-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Đảm bảo spinner được căn giữa cả theo chiều dọc và ngang */
}

.video-grid-container {
  width: 100%; /* Đảm bảo container video rộng 100% */
  /* Các thuộc tính CSS khác tùy thuộc vào thiết kế của bạn */
}

.loading-spinner {
  border: 3px solid #888;
  border-left-color: #cbcbcb;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 3s linear infinite;
  margin-top: 20px; /* Khoảng cách phía trên spinner */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
